{% extends "base.html" %}
{% block title %}Leads{% endblock %}
{% block content %}
    <h1>Collected Leads</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Source</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for lead in leads %}
                <tr>
                    <td>{{ lead[0] }}</td>
                    <td>{{ lead[1] }}</td>
                    <td>{{ lead[2] }}</td>
                    <td>{{ lead[3] }}</td>
                    <td>{{ lead[4] }}</td>
                    <td>{{ lead[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}